@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(30,30,30);
}

.navbar {
    margin-top: -5%;
    position: fixed;
    height: auto;
    width: 100%;
    background-image: linear-gradient(#E54D24, #e54e2450);
}

nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 50px;
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    transition: .5s; 
}

nav ul li a:hover{
    color:rgb(220, 220, 220);
}

.project-name {
    font-family: 'Rampart One', cursive;
    text-align: center;
    font-size: 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    color: red;
    margin: 5% 20% 5%;
    padding:1.5% 0 1.5%;
}

.project-name:hover{
    cursor: grab;
}

abbr[title]{
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
}

.subtitle {
    font-family: 'Noto Sans JP';
    color: wheat;
    word-spacing: 20px;
    text-align: center;
    font-size: 30px;
}

.subtitle:hover {
    cursor: help;
}

.image-alex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
}

#footer{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 17px;
    font-family: 'Noto Sans JP';
    text-align: center;
    font-weight: 400;
    background-color: #E74E25;
    color:white; 
    text-decoration: none;
    padding: 1.5% 5%;
    border-radius: 10px;
    transition: .5s;
}

.button:hover{
    font-size: 18px;
    font-weight: 900;
    background-color: #cf4620;
    color:white;
    padding: 1.6% 5.1%;
    cursor: crosshair;
}

.whats img{
    position: fixed;
    bottom: 4%;
    right: 2%;
    width: 5%;
    height: 10%;
    z-index: 999;
}