@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    body {
        background: black;
    }
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
    body {
        background: blue;
    }
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
    body {
        background: pink;
    }
}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
    body {
        background: purple;
    }
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
    body {
        background: black;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(30,30,30);
}

.navbar {
    position: fixed;
    margin-top: -5%;
    background-image: linear-gradient(35deg, #842910 5%, #E74E25 50%, #842910 95%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    width: 100%;
}

nav ul li {
    padding: 0 3%;
    margin: 1.5%;
    text-shadow: 0 0 5px black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    list-style-type: none;
}

nav ul li a {
    text-align: left;
    color:white;
    text-decoration: none;
    font-weight: bold;
    transition: .5s; 
}

nav ul li a:hover{
    text-shadow: 0 0 5px white;
    color:rgb(220, 220, 220);
}

li.dropdown {
    transition: .5s;
}

li.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    position: absolute;
    background-image: linear-gradient(35deg, #842910, #E74E25);
    width: 150px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: none;
}

.dropdown-content a {
    font-size: 18px;
    padding: 5px;
    color: white;
    display: block;
    text-align: left;
}

.project-name {
    box-shadow: 0 0 10px black;
    font-family: 'Rampart One', cursive;
    text-align: center;
    font-size: 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    color: red;
    margin: 5% 20% 5%;
    padding:1.5% 0 1.5%;
}

.project-name:hover{
    cursor: grab;
}

abbr[title]{
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
}

.subtitle {
    font-family: 'Noto Sans JP';
    color: wheat;
    word-spacing: 20px;
    text-align: center;
    font-size: 30px;
}

.subtitle:hover {
    cursor: help;
}

.image-alex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text {
    margin: 5% 0%;
    color: white;
}

#footer{
    margin: 3% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    text-shadow: 0 0 5px black;
    font-size: 17px;
    font-family: 'Noto Sans JP';
    text-align: center;
    font-weight: 400;
    background-color: #E74E25;
    color:white; 
    text-decoration: none;
    padding: 1.5% 5%;
    border-radius: 10px;
    transition: .5s;
}

.button:hover{
    text-shadow: 0 0 3px white;
    font-size: 18px;
    font-weight: 900;
    background-color: #cf4620;
    color:white;
    padding: 1.6% 5.1%;
    cursor: crosshair;
}

.whats img{
    position: fixed;
    bottom: 4%;
    right: 2%;
    width: 5%;
    height: 10%;
    z-index: 999;
}