@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rampart+One&display=swap');

*{
    margin: 1%;
}

body {
    background-color: rgb(30,30,30);
}

.project-name {
    font-family: 'Rampart One', cursive;
    text-align: center;
    font-size: 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    color: red;
    margin: 5% 20% 5% 20%;
    padding:1.5% 0 1.5% 0;
}

abbr[title]{
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
}

.subtitle {
    font-family: 'Noto Sans JP';
    color: wheat;
    word-spacing: 20px;
    text-align: center;
    font-size: 30px;
}

.image-alex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 17px;
    font-family: 'Noto Sans JP';
    text-align: center;
    font-weight: 400;
    background-color: #E74E25;
    color:white; 
    text-decoration: none;
    padding: 1.5% 5%;
    border-radius: 10px;
}

.button:hover{
    font-size: 18px;
    font-weight: 900;
    background-color: rgb(255, 0, 0);
    color:white;
    padding: 1.6% 5.1%;
    cursor: crosshair;
}